*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    margin-top: 10px;
}


.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    text-align: center;
}

.white{
    color: white !important;
}


#map { 
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 80vh;
}

